ansible==4.0.0
ansible-core==2.11.12
Arpeggio==2.0.2
asyncio==3.4.3
attrs==23.1.0
bcrypt==4.0.1
blinker==1.6.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==40.0.1
dill==0.3.7
dnspython==2.4.2
docutils @ file:///private/tmp/docutils-20231015-5454-w1xze4/docutils-0.20.1
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Sockets==0.2.1
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
grpcio==1.56.2
gunicorn==20.1.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
lxml @ file:///private/tmp/python-lxml-20231006-5529-eco5du/lxml-4.9.3
MarkupSafe==2.1.2
packaging==23.0
parver==0.5
pep517==0.13.0
protobuf==4.21.12
pulumi==3.88.1
pulumi-gcp==6.67.0
pycparser @ file:///private/tmp/pycparser-20231013-5787-1anpge2/pycparser-2.21
pygame==2.4.0
pymongo==4.5.0
python-decouple==3.8
python-dotenv==1.0.0
pytz @ file:///private/tmp/python-pytz-20231006-5495-1z0ldzn/pytz-2023.3.post1
PyYAML==6.0.1
requests==2.31.0
resolvelib==0.5.4
semver==2.13.0
six==1.16.0
SQLAlchemy==2.0.19
stripe==5.4.0
typing_extensions==4.7.1
urllib3==2.0.3
websockets==11.0.3
Werkzeug==2.3.5
WTForms==3.0.1
zope.event==4.6
zope.interface==6.0
